<h1>Binaural Beat Generator</h1>
<div mat-app-background>
  <div id="leftEarDiv">
    <label>Left ear frequency</label>
    <!-- TODO: make a separate binaural slider class to clean this shit up! -->
    <mat-slider class="leftEarFrequency"
               max="400"
               min="48"
               step="0.1"
               [(ngModel)]="leftFrequency">
    </mat-slider>
    <input type="number" [(ngModel)]="leftFrequency" min="1" max="400" placeholder="100" step="0.1" />
    <label>{{leftFrequency}}hz</label>
  </div>
  <div id="rightEarDiv">
    <label>Right ear frequency</label>
    <mat-slider class="rightEarFrequency"
               max="400"
               min="48"
               step="0.1"
               [(ngModel)]="rightFrequency">
    </mat-slider>
    <input type="number" [(ngModel)]="rightFrequency" min="1" max="400" placeholder="100" step=".1" />
    <label>{{rightFrequency}}hz</label>
  </div>
  <!-- TODO: Bind it to some function that updates on-the-fly, turns sound 'off' at zero volume. -->
  <div id="volumeDiv">
    <label>Volume Level</label>
    <mat-slider class="volumeSlider"
               max="100"
               min="0"
               title="Voluminous"
               step="1"
               [(ngModel)]="volumeLevel">
    </mat-slider>
    <input type="number" [(ngModel)]="volumeLevel" min="0" max="100" placeholder="0" step="1" />
    <label>{{volumeLevel}}%</label>
  </div>

  <button mat-button id="button_PlayPause" (click)="playPause()">{{isPlaying ? "Pause" : "Play"}}</button>
</div>
