//@import '~@angular/material/theming';
$formWidth: 350px;

.app-form {
  width: $formWidth;
  margin: 15px auto 7.5px auto;
  padding: 15px;

  .top-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
  }

  .card-title {
    padding: 12px 0px;
  }

  .mat-display-1 {
    margin: 0px auto 10px auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    height: auto;

    .number-input {
      width: 80px;
      height: 50px;
    }

    .slider-input {
      width: 128px;
    }
  }
}

.binaural-beat-description-form {
  width: $formWidth;
  margin: 7.5px auto 0px auto;
  padding: 15px;
}
