//@import '~@angular/material/theming';

.app-form {
  width: 350px;
  margin: 15px auto 15px auto;
  padding: 15px;

  .title {
  }

  .card-title {
    padding: 12px 0px;
  }

  .mat-display-1 {
    margin: 0px auto 10px auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    height: auto;

    .number-input {
      width: 80px;
      height: 50px;
    }

    .slider-input{
      width: 128px;
    }
  }
}
