//@import '~@angular/material/theming';
$formWidth: 350px;
$formPadding: 15px;

//mat-inputs have a mysterious top-border that results in misalignment.  This is a workaround.
$form-field-top-border: 13.5px;

.app-form {
  width: $formWidth;
  margin: 15px auto 7.5px auto;
  padding: $formPadding;

  .preset-row{
    height: 64px;
    padding-bottom: 10px;
  }

  .description-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    padding: $formPadding;
  }

  .slider-label{
    text-align: right;
  }

  .card-title {
    padding: 12px 0px;
  }

  .mat-display-1 {
    margin: 0px auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;

    .number-input {
      width: 80px;
      height: 50px;
      border: unset;
      padding-bottom: $form-field-top-border;
    }

    .slider-input {
      width: 128px;
    }
  }
}

.binaural-beat-description-form {
  width: $formWidth;
  margin: 7.5px auto 0px auto;
  padding: $formPadding;
}